@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Message"]</h2>

<address>
    Rua São Joquim Nº 1136<br />
    Porto, CEP 78020-150<br />
    <abbr title="Phone">P:</abbr>
    (65)99237-5611
</address>

<address>
    <strong>Email:</strong> <a href="mailto:rt2012cc@gmail.com">rt2012cc@gmail.com</a><br />
</address>
